.form-edit {
  width: 430px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 3%;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;
  margin-top: 195px;
  margin-bottom: auto;
  position: relative;
}

@media (max-width: 580px) {
  .form-edit {
    margin-top: 123px;
    width: 282px;
    padding: 25px 22px;
  }
}
