.page {
  max-width: 1280px;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  padding: 0 200px;
}

@media (max-width: 1024px) {
  .page {
    padding: 0 50px;
  }
}

@media (max-width: 450px) {
  .page {
    padding: 0;
  }
}
