.form-edit__button-save {
  background-color: black;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  border: none;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.2s;
  cursor: pointer;
}

.form-edit__button-save:hover {
  opacity: 0.8;
}

@media (max-width: 425px) {
  .form-edit__button-save {
    font-size: 14px;
    line-height: 17px;
  }
}
