.image-container {
  margin: 0 auto;
  width: fit-content;
  box-sizing: border-box;
  height: 100%;
  display: grid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
