.form-edit__button-close {
  background-image: url("/images/close.svg");
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translate(40px, -40px);
}

@media (max-width: 450px) {
  .form-edit__button-close {
    width: 20px;
    height: 20px;
    transform: translate(0px, -36px);
  }
}
